<table class="table table-hover">
	<tr><td>Chapter Name:</td></tr>
			<ol>
<% @manga.chapters.each do |chapter| %>

	<tr><td>
			<li><%= link_to chapter.title, manga_chapter_path(@manga, chapter) %></li>
	</td></tr>

<% end %>
		</ol>

<tr><td><%= link_to 'Add a new chapter', new_manga_chapter_path(@manga) %></td></tr>
</table>