<% if current_user %>

	<li><a href="#">Logged in as: <%= current_user.email %></a></li>
	<li><%= link_to "Log Out", log_out_path, :method => "delete" %></li>

<% else %>

	<li><%= link_to "Sign Up", sign_up_path %></li>
	<li>
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Log In <strong class="caret"></strong></a>
			<%= render 'sessions/new' %>
	</li> 
							
<% end %>